body {
    background-color: azure;
}

h1{
    text-align: center;
}

.description{
    text-align: center;
    font-style: italic;
}

.survey-form{
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 0px;
}

.form-group{
  display: block;
  padding: 5px 15px;
  font-size: 18px;
}

.name, .email, .age, .dropdown {
    border-radius: 5px;
    padding: 5px 0;
    width: 20%;
}

.submit {
    padding: 5px;
    border-radius: 5px;
    width: 10%;
}